<div class="row">
  <section class="main col-md-12">
    <article>
      <h2>About</h2>
      <p>Simple Text 1</p>
      <p>Simple Text 2</p>
      <p>Simple Text 3</p>
      <p>Simple Text 4</p>
      <p>Simple Text 5</p>
    </article>
  </section>
</div>